{{>header}}
<section class="empleoreq">
    <img src="{{empleo.image}}" alt="{{empleo.username}}">
    <div class="empleoreq-container">
        <span>
            <span>Nombre:</span>
            {{empleo.username}}
        </span>
        <span>
            <span>Cédula:</span>
            {{empleo.cedula}}
        </span>
        <span>
            <span>Edad:</span>
            {{empleo.edad}}
        </span>
        <span>
            <span>Email:</span>
            {{empleo.email}}
        </span>
        <span>
            <span>Teléfono:</span>
            {{empleo.phone}}
        </span>
        <span>
            <span>Transporte:</span>
            {{empleo.transport}}
        </span>
    </div>
</section>